<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="intro_box">
    	<h1>BLUE</h1>
    	이미 회원이신가요? <a ui-sref="login">로그인</a>
    </div>
  </ion-slide>
  <ion-slide>
  	<div style="padding-top:100px;">
    	<h1>도래솔</h1>
    </div>

    <div class="intro_box">
    	<div class="row">
    		<div class="col">
		    	<button class="button button-block button-positive" ng-click="loginOauth('facebook')">
					  <i class="icon ion-social-facebook"></i> 페이스북으로 가입하기
					</button>
				</div>
			</div>
			<div class="row">
			  <div class="col">
			  	<button class="button button-block button-light" ui-sref="login">
					  로그인
					</button>
			  </div>
			  <div class="col">
			  	<button class="button button-block button-light" ui-sref="signup">
					  이메일 가입
					</button>
			  </div>
			</div>
    </div>
  </ion-slide>
</ion-slide-box>