ion-nav-view {
  background-color: rgba(0, 0, 0, 0.04); }

/*.intro_box{
	height:100%;
}*/
.slider {
  height: 100%; }

.slider-slide {
  text-align: center; }

.img-center {
  margin: 0 auto;
  width: 100%; }

.text-center {
  text-align: center; }

.item-avatar > img {
  width: 52px;
  height: 52px; }
