ion-nav-view {
  background-color: rgba(0, 0, 0, 0.04); }

/*.intro_box{
	height:100%;
}*/
.slider {
  height: 100%; }

.slider-slide {
  text-align: center; }

.margin-side {
  margin-left: 10px;
  margin-right: 10px; }
